In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [3]:
# headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.airlinequality.com/search/?search=british+airways').text

In [4]:
# print(soup.prettify())

In [5]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 31
Error on page 32
Error on page 32
Error on page 33
Error on page 35
Error on page 35

In [15]:
#check the length of total reviews extracted
len(reviews)

3500

In [16]:
len(country)

3500

In [17]:
len(date)

3500

In [26]:
#check the length 
stars = stars[:3500]

In [27]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})
df

,reviews,stars,date,country
0,✅ Trip Verified | Easy check in a T5. Galleri...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,13th August 2023,United Kingdom
1,"Not Verified | Flight delayed by an hour, it ...",8,12th August 2023,United States
2,Not Verified | The staff are very rude and not...,2,11th August 2023,United Kingdom
3,✅ Trip Verified | Good domestic flight operat...,2,8th August 2023,United Kingdom
4,Not Verified | Failed at all basic travel fund...,10,8th August 2023,Canada
...,...,...,...,...
3495,Have flown with BA several times over past few...,8,25th June 2014,United Kingdom
3496,LHR to VIE BA 704 23 June 2014. The meal servi...,9,25th June 2014,United Kingdom
3497,Flew from LHR to Hong Kong April 13th 2014 BA ...,6,25th June 2014,United Kingdom
3498,Flight BA 202 Boston to Heathrow. Aircraft B74...,None,23rd June 2014,United Kingdom
3499,I flew from Edinburgh to Heathrow and then on ...,3,23rd June 2014,United Kingdom

In [28]:
df.shape

(3500, 4)

In [29]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")